@import url(/Styles/style.css);

.lgn-container {
  width: 100%;
  height: 100%;
  margin: 81px auto;
  margin-bottom: 150px;
}

.lgn-h1-form {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.lgn-h1 {
  font-size: 60px !important;
  font-family: var(--font-img-txt);
  color: var(--clr-slide-contact);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.lgn-form {
  max-width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.username-form {
  display: flex;
  flex-flow: column;

  margin-bottom: 20px;
}

.pass-form {
  display: flex;
  flex-flow: column;
}

.username {
  border: none;
  border-bottom: 2px solid var(--clr-slide-contact);
  width: 283px;
  height: 40px;
  font-size: 14px !important;
}

.pass {
  border: none;
  border-bottom: 2px solid var(--clr-slide-contact);
  width: 283px;
  height: 40px;
  font-size: 14px !important;
}

.forgot-pass {
  font-size: 13px !important;
  color: var(--clr-slide-contact);
  font-family: var(--font-img-txt);
  font-weight: bold;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
}

.lgn-button {
  width: 283px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-slide-contact);
  color: var(--txtclr-header);
  font-weight: bold;
  font-family: var(--font-img-txt);
  letter-spacing: 0.08em;
}

.lgn-button:hover {
  background-color: rgb(33, 116, 189);
}
